# Auto detect text files and perform LF normalization
#* text=auto

* linguist-vendored
*.frm linguist-vendored=false
*.frx linguist-vendored=false
*.cls linguist-vendored=false
*.bas linguist-vendored=false
